<div class="header">
  <h2>
    Trainings
  </h2>
</div>
 <div class="body">
    <%= render 'trainings' %>
    <hr/>
    <%= link_to 'New Training', new_training_path, class: 'btn btn-primary' %>
</div>