  <div class="header">
    <h2>
      Suppliers/Local Representatives
    </h2>
  </div>

  <div class="body table-responsive row">
    <div class="col-sm-3">
      <div id="institution_tree"></div>
    </div>

    <div class="col-sm-9">
      <div id="institutions">
        <%= render partial: 'institutions' %>
      </div>
    </div>
  </div>