<% if user_signed_in? and !current_user.admin? %>
<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
        <%= link_to root_path do %>
            <i class="material-icons">home</i>
            <span>Home</span>
        <% end %>
        </li>

        <li>
            <%= link_to applicants_path do %>
                <i class="material-icons">person</i>
                <span>Application</span>
            <% end %>
        </li>

        <li>

        <%= link_to root_path do %>
            <i class="material-icons">people</i>
            <span>Exams</span>
        <% end %>
        </li>
        <li>
            <%= link_to root_path do %>
                <i class="material-icons">list</i>
                <span>My CPD</span>
            <% end %>
        </li>
    </ul>
</div>
<% end %>