<% if user_signed_in? and current_user.is_role(Constants::STORE) %>
    <li>
      <%= link_to receives_path do %>
          <i class="material-icons">add_shopping_cart</i>
          <span>Equipment Logistics</span>
      <% end %>
    </li>

    <li>
      <%= link_to store_registrations_path do %>
          <i class="material-icons">store</i>
          <span>Store Registration</span>
      <% end %>
    </li>

<% end %>