<div class="header">
  <h2>
    Inventories
  </h2>
</div>
<div class="body table-responsive">
  <%= render 'inventories' %>
  <hr/>
<%= link_to 'Register Equipment Inventory', new_inventory_path, class: 'btn btn-primary' %>
</div>