<table class="table table-striped table-bordered dataTable js-exportable">
  <thead>
  <tr>
    <th></th>
    <% Status.all.each do |status| %>
        <th><%= status %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% current_user.organization_unit.sub_organization_units.each do |org_unit| %>
      <tr>
        <th><%= org_unit %></th>
        <% Status.all.each do |status| %>
            <th><%= org_unit.sub_equipment.where(status_id: status.id).count %></th>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>