<table class="table table-striped table-bordered dataTable js-exportable">
  <thead>
  <tr>
    <th></th>
    <% EquipmentType.all.each do |type| %>
        <th><%= type %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% current_user.organization_unit.sub_organization_units.each do |org_unit| %>
      <tr>
        <th><%= org_unit %></th>
        <% EquipmentType.all.each do |type| %>
            <th><%= org_unit.sub_equipment.where(equipment_type_id: type.id).count %></th>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>