<table class="table table-striped table-bordered dataTable js-exportable">
  <thead>
  <tr>
    <th></th>
    <% OrganizationUnit::STANDARD_VS_AVAILABLE.each do |status| %>
        <th><%= status %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% EquipmentName.all.each do |eqn| %>
      <tr>
        <th><%= eqn %></th>
        <% OrganizationUnit::STANDARD_VS_AVAILABLE.each do |status| %>
            <th><%= current_user.organization_unit.ideal_vs_available(eqn.id,status) %></th>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>