<div class="header">
  <h2>
    Equipment List
  </h2>
</div>

<div class="body table-responsive row">
  <div class="col-sm-4">
    <div id="equipment_tree"></div>
  </div>

  <div class="col-sm-8">
    <div id="equipment">
      <%= render partial: 'equipment' %>
    </div>
  </div>
</div>
