<!DOCTYPE html>
<style>
  .deliverer{
    float: left;
    width: 50%;
  }
  .recipient{
    float: right;
    width: 50%;
  }
</style>
<div class="deliverer">
  Deliverer Name:<br/><br/>
  <%= @receife.deliverer_name %><br/>
  ________________________________
</div>

<div class="recipient">
  Recipient Name:<br/><br/>
  <%= @receife.recipient_name %><br/>
  ________________________________
</div>