<!DOCTYPE html>
<style>
  .header{
    margin-bottom: 30px;
    width: 100%;
    float: left;
  }
  .org_unit{
    float: left;
    width: 70%;
  }
  .reference{
    float: right;
    width: 30%;
  }
</style>
<div class="header">
<div class="org_unit">
  <p>Model 19</p>
  <h2 style="text-align: center">Ethiopian Federal Ministry of Health<br/>
  <%= current_user.organization_unit %>
  </h2>
</div>

<div class="reference">
  Store: <u><%= @receife.store %></u><br/><br/>
  Reference No: _______________<br/><br/>
      Date:     ___________________
</div>
</div>
  <hr/>
