  <div class="header">
    <h2>
      Users
    </h2>
  </div>

  <div class="body table-responsive row">
    <div class="col-sm-4">
      <div id="user_tree"></div>
      <h4><%= @institution %></h4>
    </div>

    <div class="col-sm-8">
      <div id="users">
        <%= render partial: 'users' %>
      </div>
    </div>
  </div>