<div class="header">
  <h2>
    Disposal and Decommissioning
  </h2>
</div>
<div class="body table-responsive">
  <%= render 'disposals' %>
  <hr/>
  <%= link_to 'Add Disposal', new_disposal_path, class: 'btn btn-primary' %>
</div>