<div class="header">
  <h2>
    Maintenances
  </h2>
</div>
<div class="body table-responsive">
  <%= render 'maintenances' %>
<hr/>

<%= link_to 'New Maintenance', new_maintenance_path, class: 'btn btn-primary' %>
</div>