<div class="header">
  <h2>
    Planned Preventive Maintenances
  </h2>
</div>
<div class="body table-responsive">
  <%= render 'ppms' %>
  <hr/>

  <%= link_to 'New Planned Preventive Maintenace', new_planned_preventive_maintenace_path, class: 'btn btn-primary' %>
</div>
