<div class="header">
  <h2>
    Spare Parts Inventory
  </h2>
</div>

<div class="body table-responsive row">
  <%= render partial: 'spare_parts' %>
<hr/>
<%= link_to 'Setup Spare Part', new_spare_part_path, class: 'btn btn-primary' %>
</div>