<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment_category.name %>
</p>

<%= link_to 'Edit', edit_equipment_category_path(@equipment_category) %> |
<%= link_to 'Back', equipment_categories_path %>
